
<div class="col-6 mx-auto">
    <h1>Registro de deportistas</h1>
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-group">
    <label for="exampleInputEmail1">Nombre:</label>
      <input type="text" id="name" name="name"><br>
    </div>
    <!--<div class="form-group">
    <label for="exampleInputEmail1">Fecha de nacimiento:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Nacionalidad</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Foto:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Usuario :</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña:</label>
      <input type="password" class="form-control" id="exampleInputPassword1"  
    </div>-->

    <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>
  </form>
  <br>
  <br>
  <br>

</div>