
<div class="col-6 mx-auto">
    <h1>Registro de deportistas</h1>
    <!--form de registro de deportistatas-->
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

    <!--input para obtener datos. Existen diferentes tipos, aquí se utilizaron texto, números,
    fechas y selects. También permite subir archivos mediante el método post-->
    <div class="form-group">
      <label for="crearCuentaForm">Nombre:</label>
      <input type="text" id="Nombre" name="Nombre" [(ngModel)]="formData.full_name" class="form-control"><br>
    </div>

    <div class="form-group">
      <label for="crearCuentaForm">Fecha de nacimiento:</label>
      <input type="date" id="Fecha" name="Fecha" [(ngModel)]="formData.birth_date" class="form-control" value="2018-07-22" min="1900-01-01" max="2100-12-31"><br>
    </div>

    <div class="form-group">
      <label for="crearCuentaForm">Nacionalidad</label>
      <input type="text" id="Nacionalidad" name="Nacionalidad" [(ngModel)]="formData.nationality" class="form-control"><br>
    </div>

    <!--Permite subir un archivo desde la pc-->
    <div class="form-group">
        <div><label for="crearCuentaForm">Foto:</label></div>
        <div><input type="file" name="fileToUpload" id="fileToUpload" [(ngModel)]="fileToUpload"></div>
    </div>
    <br>


    <div class="form-group">
      <label for="crearCuentaForm">Usuario :</label>
      <input type="text" id="Usuario" name="Usuario" [(ngModel)]="formData.username" class="form-control"><br>
    </div>
 
    <div class="form-group">
      <label for="crearCuentaForm">Contraseña:</label>
      <input type="password" id="Contraseña" name="Contraseña" [(ngModel)]="formData.password" class="form-control"><br>
    </div>

    <!--botón que envia los datos del form al método on_submit en el Typescript del componente-->
    <button class="btn btn-light btn-lg btn-block page-button" type="submit">Submit</button>
  </form>
  <br>
  <br>
  <br>

</div>