<!--botones de vista-->
<div class="container ">
    <br>
    <br>
        <div class="col-6 mx-auto">
          <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/entrada-deportista']" role="button">Gestión de carrera </a> 
      </div>  
    <br>
    <br>
    <div class="col-6 mx-auto">
        <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/productor']" role="button">Aceptar inscripción</a>
    </div>
    <br>
    <br>
    <div class="col-6 mx-auto">
        <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/entrada-deportista']" role="button">Gestión de retos </a> 
    </div>  
    <br>
    <br>
    <div class="col-6 mx-auto">
      <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/productor']" role="button">Gestión de grupos</a>
    </div>
    <br>
    <br>
    <div class="col-6 mx-auto">
        <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/productor']" role="button">Reporte de participantes por carrera</a>
    </div>
    <br>
    <br>
    <div class="col-6 mx-auto">
        <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/productor']" role="button">Reporte de posiciones de carrera</a>
    </div>
    <br>
    <br>
  </div>
  
  
  