<div class="d-flex flex-row bd-highlight justify-content-around" >
    <div class="col-6 mx-auto w-25">
      <h1>Crear Reto</h1>
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  
        <div class="form-group">
          <label for="crearCuentaForm">Nombre del reto</label>
          <input type="text" id="Nombre" name="Nombre" [(ngModel)]="formData.challenge_name" class="form-control"><br>
        </div>
  
        <div class="form-group">
          <label for="crearCuentaForm">Fecha inicial del reto:</label>
          <input type="date" id="Fecha_inicial" name="Fecha_inicial" [(ngModel)]="formData.initial_date" class="form-control" min="1900-01-01" max="2100-12-31"><br>
        </div>

        <div class="form-group">
            <label for="crearCuentaForm">Fecha final del reto:</label>
            <input type="date" id="Fecha_final" name="Fecha_final" [(ngModel)]="formData.final_date" class="form-control" min="1900-01-01" max="2100-12-31"><br>
          </div>
  
        <div class="form-group">
          <label >Actividad</label>
          <div>
            <select id="actividad" name="Actividad" [(ngModel)]="formData.activity">
              <option value="Correr">Correr</option>
              <option value="Nadar">Nadar</option>
              <option value="Ciclismo">Ciclismo</option>
              <option value="Kayak">Kayak</option>
              <option value="Caminata">Caminata</option>
            </select> 
          </div>
        </div>
        <br>
        <br>
  
  
        <div class="form-group">
          <label> Patrocinadores</label>
          <div>
            <select id="Patrocinadores" name="Patrocinadores" [(ngModel)]="formData.sponsors">
              <option value="Patrocinador 1">Patrocinador 1</option>
              <option value="Patrocinador 2">Patrocinador 2</option>
              <option value="Patrocinador 3">Patrocinador 3</option>
              <option value="Patrocinador 4">Patrocinador 4</option>
  
            </select> 
          </div>
        </div>
        <br>
        <br>
  
        <button class="btn btn-light btn-lg btn-block page-button" type="submit">Submit</button>
      </form>
      <br>
      <br>
      <br>
  
    </div>
  
    <!-- aquí se muestran las actividades -->
    <div class="w-100">
      <br>
      <br>
      <br>
      <div class = "container">
          <table class = "table  table-bordered table-striped">
              <thead>
                  <tr>
                      <th>RETO</th>
                      <th>FECHA INICIAL</th>
                      <th>FECHA FINAL</th>
                      <th>ACTIVIDAD</th>
                      <th>IDENTIFICADOR</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let challenge of challenges">
                      <td><span>{{challenge.name_challenge}}</span></td>
                      <td><span>{{challenge.start_date}}</span></td>
                      <td><span>{{challenge.end_date}}</span></td>
                      <td><span>{{challenge.activity_id}}</span></td>
                      <td><span>{{challenge.challenge_identifier}}</span></td>
                      <button type="button" class="btn btn-outline-danger" (click)="delete(challenge.challenge_identifier)">Eliminar</button>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>