<br>
<br>
<br>
<div class = "container">
    <table class = "table  table-bordered table-striped">
        <thead>
            <tr>
                <th>CATEGORIA</th>
                <th>NOMBRE</th>
                <th>EDAD</th>
                <th>CARRERA</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let report of reports">
                <td><span>{{report.category_name}}</span></td>
                <td><span>{{report.full_name}}</span></td>
                <td><span>{{report.age}}</span></td>
                <td><span>{{report.race_id}}</span></td>
                <!--<button type="button" class="btn btn-outline-danger" (click)="delete(report.id)">Eliminar</button>-->
            </tr>
        </tbody>
    </table>
</div>