
<!--página de inicio del usuario luego del login-->

<div class="d-flex flex-row bd-highlight justify-content-around" >
    
    <div>
        <br>
        <br>
        <div >
            <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/crear-cuenta']" role="button">Registrar actividad</a> 
        </div> 
        <br>
        <br>
        <div >
            <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/crear-cuenta']" role="button">Inscribirse en una carrera</a> 
        </div> 
        <br>
        <br>
        <div >
            <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/crear-cuenta']" role="button">Inscribirse en un reto</a> 
        </div> 
        <br>
        <br>
        <div >
            <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/crear-cuenta']" role="button">Asociarse a un grupo</a> 
        </div> 
        <br>
        <br>
        <div >
            <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/crear-cuenta']" role="button">Ver retos y carreras inscritos</a> 
        </div> 
    </div>

    <div>
        <br>
        <br>
        <!--carga el mapa del recorrido de los amigos -->
        <div id="map" style="height:50%;width:50%px;"></div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <p class="card-text">Pedro Perico Los Palotes</p>
            </div>
        </div>
    </div>


</div>

