
<!--página de inicio del usuario luego del login-->

<div class="d-flex flex-row bd-highlight justify-content-around" >
    
    <div>
        <br>
        <br>
        <!--boton de busqueda de atletas-->
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <label for="crearCuentaForm">Búsqueda</label>
            <input type="text" id="search_query" name="search_query" [(ngModel)]="search_query" class="form-control"><br>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#myModalNorm">Search</button>
        </form>

        <br>
        <br>
        <div >
            <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/crear-cuenta']" role="button">Registrar actividad</a> 
        </div> 
        <br>
        <br>
        <div >
            <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/crear-cuenta']" role="button">Inscribirse en una carrera</a> 
        </div> 
        <br>
        <br>
        <div >
            <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/crear-cuenta']" role="button">Inscribirse en un reto</a> 
        </div> 
        <br>
        <br>
        <div >
            <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/crear-cuenta']" role="button">Asociarse a un grupo</a> 
        </div> 
        <br>
        <br>
        <div >
            <a class="btn btn-light btn-lg btn-block page-button" [routerLink]="['/crear-cuenta']" role="button">Ver retos y carreras inscritos</a> 
        </div> 
    </div>
    <!--aquí empieza la mitad izquierda de la vista de la página de inicio-->
    <div>

        <br>
        <br>
        <!-- aquí se cargan los datos de los amigos del usuario-->
        <div class = "container">
            <table class = "table  table-bordered table-striped">
                <thead>
                    <tr>
                        <th>AMIGO</th>
                        <th>ACTIVIDAD</th>
                        <th>KILOMETROS</th>
                        <th>RECORRIDO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let athlete of athletes">
                        <td><span></span></td>
                        <td><span>{{athlete.full_name}}</span></td>
                        <td><span>{{athlete.activity}}</span></td>
                        <td><span>{{athlete.kilometers}}</span></td>
                        
                        <td><span><div id="map" style="height:50%;width:50%px;"></div></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--carga el mapa del recorrido de los amigos 
        <div id="map" style="height:50%;width:50%px;"></div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <p class="card-text">Pedro Perico Los Palotes</p>
            </div>
        </div>-->
    </div>


</div>



<!--contenido de la ventana modal-->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <!-- Modal Body -->
            <div class="modal-body">
                <div class = "container">
                    <table class = "table  table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>ACTIVIDADES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let athlete of athletes">
                                <td><span></span></td>
                                <td><span>{{search.full_name}}</span></td>
                                <td><span>{{search.activity}}</span></td>                                
                                <!--<button type="button" class="btn btn-outline-success" (click)="save_id(challenge.challenge_identifier)" data-toggle="modal" data-target="#myModalNorm">Actualizar</button>-->
                                <button type="button" class="btn btn-outline-success" >Follow</button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
